h2 {
    font-size: 20px;
    text-align: center;
    color: black;   
    padding-top: 10px;                            
}

#Formulario {
    padding-top: 200px;
    padding-left: 450px;
    padding-right: 450px;
}